In [1]:
import openai
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def question(query):

    # FTA API
    API_KEY = ""
    openai.api_key = API_KEY

    model = "gpt-3.5-turbo"  

    messages = [
        {"role":"system", "content":"You are a helpful assistant."},
        {"role":"user","content":query}
    ]

    response = openai.ChatCompletion.create(
        temperature=0.8,
        model=model,
        messages = messages
    )

    answer = response['choices'][0]['message']['content']

    return answer

In [7]:
df = pd.read_excel("2차결과.xlsx") 
result_df = df

df = df[df['정답 여부'] == 'RE']
df = df.drop(["학생명", "정답 여부", "문제 이름", "제출 시간", "오류 분류", "review"], axis=1)

df

                                                     코드
261   #include<cstdio>\n\nint main()\n{\n    double ...
563    #include <cstdio>\n\nint main()\n{\n    int a...
847   #include <cstdio>\n\nint main()\n{\n    int a;...
1325  #include <cstdio>\n\nint main()\n{\n    int a,...

In [10]:
question_query = f"""
1. Question :
The following Dataframe represents the programming code of students issued by Runtime Error (RE).
Your task is to write a code review of why an error occurred and categorize it.
"""


result_query = """
2. Answer : 
Please answer in the following example form. The list index matches each code.
Example:
Error = [
        "~~~~",
         ...
        ]
Categorization = [
    "~~~~",
    ...
    ]

"""

context_query = "The DataFrame contains the following data.\n\n"  + df.to_string(index=False)

query1_1 = question_query  + result_query + context_query

print(query1_1)

1. Question :
The following Dataframe represents the programming code of students issued by Runtime Error (RE).
Your task is to write a code review of why an error occurred and categorize it.

2. Answer :
Please answer in the following example form. The list index matches each code.
Example:
Error = [
        "~~~~",
         ...
        ]
Categorization = [
    "~~~~",
    ...
    ]

The DataFrame contains the following data.

                                                                                                                                                                                                                                                        코드
                                               #include<cstdio>\n\nint main()\n{\n    double a,b;\n    scanf("%lf %lf",&a,&b);\n    \n    if(a<=b){\n        printf(":(");\n    }\n    else{\n        printf(":)");\n    }\n        \n        return 0;\n}
                                                                                                                      #include <cstdio>\n\nint main()\n{\n    int a, b;\n    scanf("%d %d ", &a, &b);\n    \n    printf("%d %d ", a, b);\n    return 0;\n}
                                                                                                                                   #include <cstdio>\n\nint main()\n{\n    int a;\n    scanf("%d", r);\n    printf("%d %d", a, b);\n    \n    return 0;\n}
#include <cstdio>\n\nint main()\n{\n    int a, b;\n    \n    scanf("%d %d", &a, &b);\n    printf("%d+%d=%d\n", a,b,a+b);\n    printf("%d-%d=%d\n", a,b,a-b);\n    printf("%d*%d=%d\n", a,b,a*b);\n    printf("%d/%d=%d", a,b,a/b);\n    \n    return 0;\n}

In [15]:
ans1_1 = question(query1_1)
print(ans1_1)

Error = [
    "Error 1: The code is missing a semicolon (;) at the end of the printf statement in line 9.",
    "Error 2: The variable 'r' is not declared before it is used in the scanf statement in line 6.",
    "Error 3: The code is missing a semicolon (;) after the printf statement in line 4.",
]

Categorization = [
    "Syntax Error",
    "Undefined Variable",
    "Syntax Error",
]